# run pre-commit on every commit and pull request

name: pre-commit
on:
  push:
    branches: [ main, "0.4.18_release" ]
  pull_request:
    branches: [ main ]

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pre-commit
    - name: run pre-commit
      run: pre-commit run --all-files
