# run pre-commit on every commit and pull request

name: pre-commit
on:
  push:
    branches: [ main, "0.4.18_release" ]
  pull_request:
    branches: [ main ]

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: 3.x
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pre-commit
    - name: run pre-commit
      run: pre-commit run --all-files
